* {
    margin: 0;
      padding: 0;
      box-sizing: border-box;
  
    font-family: 'Lato', sans-serif;
  
    user-select: none;
    list-style: none;
  }
  
  .container {
  
    width: 100vw;
    height: 100vh;
  
    padding: 50px 25px;
  }

  .album {
    float: left;
    width: 33.33%;
    padding: 30px 0;
    border: 1px solid black;
    text-align: center;
    color:black;
    background-color: beige;
}

img {
    height: 250px;
}